<h2>New Mountain</h2>

<form action="/mountains" method="post">
  <p>
    <label for="">Mountain Name</label>
    <input type="text" name="name" placeholder="Mountain name">
  </p>
  <p>
    <label for="">Image</label>
    <input type="text" name="image" placeholder="Map">
  </p>
  <p>
    <label for="">URL</label>
    <input type="text" name="url" placeholder="Mountain website">
  </p>
  <p>
    <label for="">Description</label>
    <input type="text" name="description" placeholder="Description">
  </p>
  <p>
    <label for="">Elevation</label>
    <input type="text" name="elevation" placeholder="Elevation">
  </p>

  <input type="submit" name="" value="Enter New Mountain">

</form>
