<p>What movie are you searching for?</p>

<form action="/movie_search">
  <input type="text" name="movie_title" placeholder="Search your movie title here">
  <button>Seach me officer!</button>

</form>
