<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY ONLY SINATRA APP</title>
  <link rel = "stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href = "/"></a>
</nav>

<h1>IF I GET THIS TO WORK IT WILL BE A MIRACLE</h1>

<%= yield %>

<h2>No seriously, a bloody miracle </h2>

</body>
</html>
