<h1>Welcome to the Ruby Games select</h1>

  <tr>
    <td><%= link_to "Magic 8", magic_path %></td>

    <td><%= link_to "Secret Numbers", secret_path %></td>

    <td><%= link_to "Rock Paper Scissors", rock_path%></td>
  </tr>
